$color-out-of-office: #00f;
$color-working-elsewhere: #f0f;
$border-color: #ccc;
$border-width: 1px;

body {
  padding: 1rem;
  font-family: sans-serif;
}

.logo img {
  max-height: 3rem;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;

  th, td {
    text-align: left;
  }
}

thead {
  th, td {
    vertical-align: bottom;
  }
}

tbody tr {
  border-top: solid $border-width $border-color;
}

thead th,
tbody td {
  border-right: solid $border-width $border-color;
}

thead th:last-child,
tbody td:last-child {
  border-right: initial;
}

th, td {
  padding: .25rem;
}

tr > *:first-child {
  background: #333;
  color: #eee;
  width: 20%;
}

td .header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.legend .blob {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: middle;
}

.workingelsewhere {
  background: $color-working-elsewhere;
}

.oof {
  background: $color-out-of-office;
}

.slot {
  position: relative;

  .blob {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    &[data-start="12:00"] {
      left: 50%;
    }

    &[data-end="12:00"] {
      right: 50%;
    }
  }
}
